%script{:type => "text/javascript",
        :src => "https://actionnetwork.org/widgets/v3/petition/project-redline-defend-democracy-and-stand-up-to-trump?format=js&source=widget",
        :async => ""}

.header
  %h1#project project
.header
  %h1#_redline red ine

.h3.redline-q
  %h1#emphasized Join us in holding Trump accountable.

.container
  .content
    .h3.motivation#initial-snippet
      .redline#emphasized Robert Mueller is investigating Trump’s connections to Russia.
    .h3.motivation
      .redline When Russia interfered in our 2016 election, #{link_to "our government asked Robert Mueller to investigate", "https://www.washingtonpost.com/world/national-security/deputy-attorney-general-appoints-special-counsel-to-oversee-probe-of-russian-interference-in-election/2017/05/17/302c1774-3b49-11e7-8854-21f359183e8c_story.html", target: "_blank"}. As a former FBI director, war hero, and conservative, Mueller was seen as the man for the job by #{link_to "Republicans and Democrats alike", "https://www.nytimes.com/2017/05/17/us/politics/robert-mueller-special-counsel-russia-investigation.html", target: "_blank"}.
    .h3.motivation
      .redline#emphasized Mueller is under attack from Trump.
    .h3.motivation
      .redline One year later, Mueller’s investigation is #{link_to "gaining speed", "https://www.politico.com/magazine/story/2018/03/03/swamp-diary-mueller-russia-probe-217222", target: "_blank"}, and #{link_to "evidence is emerging", "https://www.washingtonpost.com/graphics/national/trump-russia/", target: "_blank"} that Trump’s team may have #{link_to "worked with Russia", "https://www.usatoday.com/story/news/politics/2018/02/14/adam-schiff-there-ample-evidence-collusion-between-trump-campaign-russians/336786002/", target: "_blank"} and #{link_to "obstructed justice", "https://www.vox.com/world/2018/1/10/16855518/trump-mueller-obstruction-case-strong", target: "_blank"}. Mueller has already #{link_to "charged Trump campaign officials", "https://www.washingtonpost.com/news/politics/wp/2018/03/07/what-we-believe-mueller-is-investigating/?utm_term=.6ec01b160f6d", target: "_blank"} with crimes. However, Mueller’s investigation is under fire from President Trump.
    .h3.motivation
      .redline#emphasized Trump may fire Mueller to hide the truth.
    .h3.motivation
      .redline Trump has already secretly tried to #{link_to "stop the investigation", "https://www.nytimes.com/2018/01/25/us/politics/trump-mueller-special-counsel-russia.html", target: "_blank"}, and is now publicly #{link_to "considering", "https://qz.com/1248422/donald-trump-publicly-mulls-firing-robert-mueller/", target: "blank"} #{link_to "firing Mueller", "http://thehill.com/homenews/administration/382513-white-house-trump-believes-he-has-power-to-fire-mueller", target: "_blank"}. If Trump is innocent, then he has nothing to hide. On the other hand, if Trump’s campaign conspired with Russia, then the American people need to know what happened. Either way, Mueller's investigation is how we'll #{link_to "learn the truth", "https://www.nbcnews.com/think/opinion/truth-about-russia-s-electoral-interference-requires-trump-answer-mueller-ncna848766", target: "_blank"}.

  .crossing-line
    %h1#emphasized If Trump fires Mueller, he crosses a red line.

  .law-and-order
    .h3.truthiness
      %p.redline Trump is accountable to us, and we deserve to know the truth.
    .h3.not-prez
      %p.redline Nobody is above the law–not even the President. If Trump fires the person investigating him, we need to take to the streets and march for the truth.

  .join-us
    Will you join us in pledging to protest if Trump fires Mueller?
    %p#rapidly We’ll send you a rapid response alert on the day Mueller is fired, along with details about protests in your area organized by #{link_to "MoveOn.org", "https://act.moveon.org/event/mueller-firing-rapid-response-events/", target: "_blank"}.

  .petition
    #can-petition-area-project-redline-defend-democracy-and-stand-up-to-trump(style="width: 100% !important;")

  .privacy-policy
    We value your privacy. You can review our privacy policy #{link_to "here", privacy_policy_path, target: "_blank"}
  
  .footer.redline
    .contact
      Interested in joining our team? Contact us at #{link_to "info@projectredline.org", "mailto:info@projectredline.org"}.
    .civic
      Powered by
      =image_tag(src="civic.png")